In [2]:
import pandas as pd
dir1 ="F:\Rs\dataset1.csv" 
dir2 = "F:\Rs\dataset2.csv"
dir3 = "F:\Rs\dataset3.csv"
dir4 = "F:\Rs\dataset4.csv"
dir5 = "F:\Rs\dataset5.csv"
dir6 = "F:\Rs\dataset.csv"
dir7 = "F:\Rs\dataset7.csv"
dir8 = "F:\Rs\dataset8.csv"
dir9 = "F:\Rs\dataset9.csv"
dir10 = "F:\Rs\dataset10.csv"
dir11 = "F:\Rs\dataset11.csv"
dir13 = "F:\Rs\dataset13.csv"
dir14 = "F:\Rs\dataset14.csv"
dir15 = "F:\Rs\dataset15.csv"
dir16 = "F:\Rs\dataset16.csv"
dir17 = "F:\Rs\dataset17.csv"
dir18 = "F:\Rs\dataset18.csv"
dir19 = "F:\Rs\dataset19.csv"
dir20 = "F:\Rs\dataset20.csv"
dir21 = "F:\Rs\dataset21.csv"
dir22 = "F:\Rs\dataset22.csv"
dir23 = "F:\Rs\dataset23.csv"
dir24 = "F:\Rs\dataset24.csv"
dir25 = "F:\Rs\dataset25.csv"
dir26 = "F:\Rs\dataset26.csv"


df1 = pd.read_csv(dir1)
df2 = pd.read_csv(dir2)
df3 = pd.read_csv(dir3)
df4 = pd.read_csv(dir4)
df5 = pd.read_csv(dir5)
df6 = pd.read_csv(dir6)
df7 = pd.read_csv(dir7)
df8 = pd.read_csv(dir8)
df9 = pd.read_csv(dir9)
df10 = pd.read_csv(dir10)
df11 = pd.read_csv(dir11)
df13 = pd.read_csv(dir13)
df14 = pd.read_csv(dir14)
df15 = pd.read_csv(dir15)
df16 = pd.read_csv(dir16)
df17 = pd.read_csv(dir17)
df18 = pd.read_csv(dir18)
df19 = pd.read_csv(dir19)
df20 = pd.read_csv(dir20)
df21 = pd.read_csv(dir21)
df22 = pd.read_csv(dir22)
df23 = pd.read_csv(dir23)
df24 = pd.read_csv(dir24)
df25 = pd.read_csv(dir25)
df26 = pd.read_csv(dir26)

In [3]:
df26

,Unnamed: 0,Date,User,tweet
0,0,2022-11-17 23:48:06+00:00,blink_xxiv,i don't want to tussle but THAT korean fandom ...
1,1,2022-11-17 23:46:46+00:00,karrolinne1,i just clicked on my exâ€™s tt acc on accident c...
2,2,2022-11-17 23:45:30+00:00,fawndls,u guys donâ€™t have to act as if cals donâ€™t exis...
3,3,2022-11-17 23:38:52+00:00,PS_IRuddYou,Why do political ads exist anyway?\n\nYou're s...
4,4,2022-11-17 23:10:00+00:00,_Louis_Terrio_,Because a relationship is hard.\nIt's a lot of...
...,...,...,...,...
1995,1995,2022-10-27 13:20:25+00:00,AnneMag99,"""Don't worry about being original, she said di..."
1996,1996,2022-10-27 12:30:22+00:00,seal_var,"Ladies, The standard of men you seek either do..."
1997,1997,2022-10-27 12:23:27+00:00,ItsMarizu,You're around me\nYou stick to your phone ðŸ“± li...
1998,1998,2022-10-27 12:06:12+00:00,arocxo,Mad how work places donâ€™t mind you coming into...
1999,1999,2022-10-27 12:03:17+00:00,areverieanend,'cause i don't want to get over love \ni could...

In [4]:
dff = pd.concat([df1, df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df13,df14,df15, df16, df17,df18,df19,df20,df21,df22,df23,df26], ignore_index = True)
#dsjoin=pd.merge(df1,df2),df3 on='Date', how="outer")
#dff
#dsjoin
dff

,Unnamed: 0,Date,User,tweet
0,0,2021-12-31 23:59:50+00:00,bpd_tweeting,Last tweet of 2021. Alone in my room. All I wa...
1,1,2021-12-31 23:59:49+00:00,Michael_Quotes_,As 2021 is winding down I want to say that Iâ€™m...
2,2,2021-12-31 23:59:42+00:00,clicktoaddbio,@achocomilkparty I want to die
3,3,2021-12-31 23:54:42+00:00,prodinova1,@giodeboss7 Nvm mi too nuff. I want to die now
4,4,2021-12-31 23:52:22+00:00,DARKLINDEMANN,i want to die
...,...,...,...,...
44813,1995,2022-10-27 13:20:25+00:00,AnneMag99,"""Don't worry about being original, she said di..."
44814,1996,2022-10-27 12:30:22+00:00,seal_var,"Ladies, The standard of men you seek either do..."
44815,1997,2022-10-27 12:23:27+00:00,ItsMarizu,You're around me\nYou stick to your phone ðŸ“± li...
44816,1998,2022-10-27 12:06:12+00:00,arocxo,Mad how work places donâ€™t mind you coming into...
44817,1999,2022-10-27 12:03:17+00:00,areverieanend,'cause i don't want to get over love \ni could...

In [5]:
dfx=dff.drop(['Date','User'], axis='columns')
dataframe = dfx.loc[:, ~dfx.columns.str.contains('^Unnamed')]
dataframe

                                                   tweet
0      Last tweet of 2021. Alone in my room. All I wa...
1      As 2021 is winding down I want to say that Iâ€™m...
2                         @achocomilkparty I want to die
3         @giodeboss7 Nvm mi too nuff. I want to die now
4                                          i want to die
...                                                  ...
44813  "Don't worry about being original, she said di...
44814  Ladies, The standard of men you seek either do...
44815  You're around me\nYou stick to your phone ðŸ“± li...
44816  Mad how work places donâ€™t mind you coming into...
44817  'cause i don't want to get over love \ni could...

[44818 rows x 1 columns]

In [6]:
#dataframe.to_excel('F:\Rs\JoinedDataset.xlsx', index= False)